@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

.coin-row {
  border: 1px solid darkgray;
}

.coin img {
  max-height: 2rem;
  max-width: 2rem;
}
